<div class="settings__article">
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4"><img class="settings__img" src="assets/images/user.png" alt=""></div>
        <div class="col-xs-4"></div>
    </div>
</div>
<div class="settings__form">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <form>
                <div class="form-group">
                    <label for="pwd">ВАШ ВОЗРАСТ</label>
                    <input class="form-control custom-input" id="pwd" value="{{age}}"
                        [(ngModel)]="age" [ngModelOptions]="{standalone: true}">
                    <div class="col-xs-1"></div>
                </div>
                <div class="form-group">
                    <label for="pwd">ВАШ РОСТ</label>
                    <input class="form-control custom-input" id="pwd" value="{{height}}"
                        [(ngModel)]="height" [ngModelOptions]="{standalone: true}">
                    <div class="col-xs-1"></div>
                </div>
                <div class="form-group">
                    <label for="pwd">ВАШ ВЕС</label>
                    <input class="form-control custom-input" id="pwd" value="{{weight}}" 
                        [(ngModel)]="weight" [ngModelOptions]="{standalone: true}">
                    <div class="col-xs-1"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-3">
                        <button (click)='saveSettings($event)' class="btn btn-default settings__button">Сохранить</button>
                    </div>
                    <div class="col-xs-3"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-3">
                        <button (click)='goToStatistic($event)' class="btn btn-default settings__button">Статистика</button>
                    </div>
                    <div class="col-xs-3"></div>
                </div>
            </form>
        </div>
    </div>
</div>


<!--<h1>Settings component</h1>
<p>{{user.age}}</p>
<p>{{user.sex}}</p>
<p>{{user.weight}}</p>
<p>{{user.height}}</p>
<p>{{user.activity}}</p>-->