<main class="col-sm-12 user-status">
    <div class="user-status__article">

        <div class="row user-status__row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <p class="user-status__title">Количество белков за день</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">70</div>
                </div>
            </div>
            <div class="col-xs-1"></div>
        </div>

        <div class="row user-status__row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <p class="user-status__title">Количество жиров за день</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:40%">40</div>
                </div>
            </div>
            <div class="col-xs-1"></div>
        </div>

        <div class="row user-status__row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <p class="user-status__title">Количество углеводов зв день</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:85%">85</div>
                </div>
            </div>
            <div class="col-xs-1"></div>
        </div>

        <div class="row user-status__row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
                <p class="user-status__big-title">Общее количество <br> калорий за день</p>
                <hr>
            </div>
            <div class="col-xs-3"></div>
        </div>

    </div>
</main>